.aiWindow {
    height: 70vh;
    text-align: left;

    display: float;
    justify-content: end;
    flex-direction: column;

    border-color: black;
    border-width: 1px;
    border-style: solid;
    overflow-x: auto;

    background-color: rgb(255, 255, 255);
}
.aiWindow * {
    overflow-anchor: none;
}

#anchor {
    overflow-anchor: auto;
    height: 1px;
}

.submitBox {
    display: flex;
    justify-content: space-between;
}
.submitBox .submitChild {
    flex: 1 1 auto;
}
.submitBox button {
    max-width: 175px;
    flex: 1 1 auto;
   
}

.textBox {
    margin: 0 5px 8px 5px;
    background-color:rgb(235, 238, 245);
    padding: 0 5px;
}

.textBox p {
    margin: 0;
}